<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
    <h1>Talabalar</h1>
    <hr>
    <br>
    <br>
    <h1>Talabalar ro'yhati</h1>
    <form method="get">
        <input type="text" name="qidiruv">
        <button>qidirish</button>
    </form>
    <ul>
        {%for student in students %}
    <li>{{student.id}}.{{student}}({{student.kurs}}-kurs)</li>
        <a href="/talaba_ochir/{{student.id}}/"><button>O'chirish</button></a>
        <a href="/talaba_tahrir/{{student.id}}/"><button>Tahrirlash</button></a>
        {%endfor%}
    </ul>
    <br>
    <br>
    <form method="post">{% csrf_token %}
        {{forma}}
<!--        <input type="text" name="i" placeholder="Ism">-->
<!--        <input type="number" name="k" placeholder="Kursi">-->
<!--        <input type="number" name="k_s" placeholder="Kitob soni">-->
        <button  type="submit" >qoshish</button>
    </form>
</body>
</html>